Credit Card Client Information
Cleaned and Sourced from: https://packt.link/wensZ /n
Orginal Dataset from: UCI Machine Learning Repository [http://archive.ics.uci.edu/ml]

In [8]:
import pandas as pd

df = pd.read_excel('./default_of_credit_card_clients__courseware_version_1_21_19.xls')
df.shape

#checking array dimension to match xls file
print('There are X Columns and Y Rows' + str(df.shape))

There are X Columns and Y Rows(30000, 25)

In [2]:
df.info 
df.head(5)

#checking dataframe columns and first 5 entries

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,798fc410-45c1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,8a8c8f3b-8eb4,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,85698822-43f5,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,0737c11b-be42,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,3b7f77cc-dbc0,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

**Business Problem**

Our client is a credit card company. They have brought us a dataset that includes
some demographics and recent financial data, over the past 6 months, for a sample
of 30,000 of their account holders. This data is at the credit account level; in other
words, there is one row for each account (you should always clarify what the
definition of a row is, in a dataset). Rows are labeled by whether, in the next month
after the 6-month historical data period, an account owner has defaulted, or in other
words, failed to make the minimum payment.

In [9]:
#checking column labels

df.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_1',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default payment next month'],
      dtype='object')

In [16]:
#look for duplicate data entries in dataset by checking amount of unique ID's

print('There are %d unique entries' % df['ID'].nunique())

There are 29687 unique entries

In [19]:
#Count the amount of repeated entries and match them to their ID


id_counts = df['ID'].value_counts()
id_counts.head(10)

id_counts.value_counts()

count
1    29374
2      313
Name: count, dtype: int64

Since there are less than 30,000 unique entries, we needed to count the amount of repeated ID's, and the amount of times an ID is repeated. Occuring once accounts for 29374 duplicate entries, while double duplicated ID account for 313 entries.